
.container
{
    height:125px;
    margin:0 auto;
    display:flex;
    align-items: center;
    background-color:rgb(255, 255, 255);
    width: 100%;
    padding: 1px;
   
}
h1{
    margin: 10px auto;
}

ul
{
    background-color:rgb(255, 255, 255);
    display:flex;
}


ul li
{
    display: inline flex;
}

ul li a
{
    color:black;
    text-decoration: none;
    margin: 0;
    padding: 20px;
    font-size: 20px;
    display: flex;
}

.logo
{
display: inline;
width: 500px;
text-align: right;
cursor: pointer;
}
body{
background-color: rgb(248, 142, 71);
}

.sociais {
    width:40px;
    height: 40px;
    font-size: 28px;
    margin-left: 20px;
    display: flex;
    cursor: pointer;
}
ul div a{
    margin: 0px 11px;
}
ul:hover div a{
    opacity: .3;
}

ul div a:hover{
    opacity: 1;
    transform: scale(1.1);
}
.menuDrop
{
    position: relative;
}
.menuDrop:hover .drop
{
    height: 190px;
}
.menuDrop .drop{
    position: absolute;
    background-color:rgb(255, 255, 255);
    width: 120%;
    height: 0;
    overflow: hidden;
    transition: .3s;
}

.dropconfig a:hover{
    transform: scale(1);
}
.menuInfo{
    display:flex;
}
.tituloformas
{
    text-align: center;
    color: black;
    margin-top: 20px;
    margin-bottom: 20px;
}
.quadrado
{
    width: 80px;
    height: 80px;
    background-color: rgb(255, 209, 149);
    margin-right: auto;
    margin-left: auto;
    margin-bottom: 100px;
}

.retang
{
    width: 160px;
    height: 80px;
    background-color: rgb(255, 209, 149);
    margin-right: auto;
    margin-left: auto;
    margin-bottom: 100px;
}

.triang
{
    width: 0;
    height: 0;
    border-bottom: 80px solid transparent;
    border-left: 80px solid rgb(255, 209, 149);
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 100px;
}

.circ
{
    width: 80px;
  height: 80px;
  background-color:rgb(255, 209, 149);
  border-radius: 50%;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 100px;
}